@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Barlow:wght@200;300;400;500&family=Lobster+Two:ital@1&family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700&family=Murecho:wght@200;300;400;600;700&family=Pacifico&family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;700&display=swap');


/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono:
    ui-monospace,
    menlo,
    monaco,
    'Cascadia Mono',
    'Segoe UI Mono',
    'Roboto Mono',
    'Oxygen Mono',
    'Ubuntu Monospace',
    'Source Code Pro',
    'Fira Mono',
    'Droid Sans Mono',
    'Courier New',
    monospace;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-glow:
    conic-gradient(
      from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg
    );
  --secondary-glow:
    radial-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border:
    conic-gradient(
      #00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080
    );
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow:
      linear-gradient(
        to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3)
      );
    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border:
      conic-gradient(
        #ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80
      );
    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f1e2e2;
  margin-top: 3.5rem;
}

h3 {
  font-family: 'Murecho', sans-serif;
  font-size: 24px;
  font-weight: 550;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-align: left;
}

#nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  transition: 0.5s linear;
  backdrop-filter: blur(20px);
  margin: auto 0;
  top: 0;
  z-index: 99;
}

.drag {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  padding: 0.7rem;
  margin-left: auto;
  transition: 0.3s linear;
  border-bottom: 1px solid gray;
  background-color: #f1e2e2;
  display: flex;
  justify-content: flex-end;
}

svg {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  font-family: 'Murecho', sans-serif;
}

.subt {
  margin-bottom: 1rem;
}

.image {
  min-width: 30%;
}

.text {
  min-width: 100%;
  background-color: #93929236;
  padding: 0.5rem;
  margin-right: 5px;
}

.sub {
  display: flex;
}

.image img {
  width: 100%;
  -webkit-user-drag: none;
}

.week {
  display: flex;
  justify-content: space-between;
}

.week li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11.5%;
  height: 70px;
  text-align: center;
  border-radius: 17px;
  padding: 8px;
  justify-content: space-between;
  background-color: burlywood;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-transform: capitalize;
}

.weekend {
  color: rgb(254, 64, 64);
}

.week .highlight {
  background-color: brown;
  color: white;
}

@media (min-width: 768px) {
  body {
    margin-left: 100px;
    margin-top: 0.5rem;
  }

  .mobile {
    display: none;
  }

  .week {
    justify-content: unset;
  }

  #nav {
    backdrop-filter: blur(0);
    margin: auto 0;
  }

  .styles_top__0YTPX .welcome_wrapper__l1SUd {
    width: 45%;
  }

  .styles_top__0YTPX .popular_parent__dr2nf {
    width: 45%;
  }

  .styles_middle__7Q1tJ .popular_popular__CDj_R,
  .styles_end__miCba .popular_popular__CDj_R {
    width: 45%;
  }
}

@media (min-width: 1280px) {
  .styles_top__0YTPX .welcome_wrapper__l1SUd {
    width: 38%;
  }

  .styles_middle__7Q1tJ .popular_popular__CDj_R {
    width: 50%;
  }

  .popular .parent {
    width: 100%;
  }

  .wrap {
    width: 38%;
  }

  .popular_sub__h50lg .image {
    min-width: 23%;
  }
}
