.logo img {
  width: 100%;
}

.menu div {
  width: 25%;
  margin: 15px auto;
}

.menu div img {
  width: 100%;
}

.sideon {
  left: 0;
}

.sideoff {
  left: -100px;
}

.menu .book {
  width: 18%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #3339;
  align-items: center;
  height: 90%;
  margin-top: 2rem;
}

.logout svg {
  color: rgb(48, 48, 48);
}

@media (min-width: 768px) {
  .sideoff {
    left: 0;
  }
}
